[phases.setup]
# Railway detecta .nvmrc, .node-version o variable NODE_VERSION
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["rm -rf node_modules .npm", "npm ci --legacy-peer-deps"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "NODE_ENV=production node dist/index.js"

