[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["rm -rf node_modules .npm", "npm ci", "npm install @fastify/cors@10.1.0 --save-exact --force"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "NODE_ENV=production node dist/index.js"

